<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Netgear Switch Device Reservations</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="static/style.css">
</head>
<body class="p-3">
  <div class="container">
    <h1 class="mb-3">Netgear Switch Device Reservations</h1>
    <div id="alert-placeholder"></div>

    <table id="devices-table" class="table table-hover table-sm">
      <thead>
        <tr>
          <th>Id</th>
          <th>Model</th>
          <th>UI</th>
          <th>Mgmt-Ip</th>
          <th>Console</th>
          <th>Health</th>
          <th>Status</th>
          <th>Reservation</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>

  <script src="static/main.js"></script>
</body>
</html>